<section class="container ff-inter">
  <header class="header">
    <h1 data-text="Projetos Indicados ao Next" class="title" style="opacity: 1; transform: none;">
      Projetos Indicados ao Next
    </h1>
    <small>
      Os vencedores dentre os melhores projetos, desenvolvidos em parceria e escolhidos pelas próprias empresas, selecionados para apresentação no maior evento da faculdade FIAP.
    </small>
  </header>
  <div class="mural">

    <div class="projetos-vencedores">
      <a class="IBM" href="/project/candidateHiringSystem">
        <div class="card">
          <h2 >Candidate Hiring System</h2>
          <p>Desenvolvimento de um chatbot voltado para auxiliar o setor de Recursos Humanos (RH) na seleção de candidatos para vagas de emprego.</p>
          <div class="card-info">
            <p class="GitHub">Ver Mais</p>
            <p><b>IBM</b></p>
          </div>
        </div>
      </a>

      <a class="plusoft" href="/project/seniorSmart">
      <div class="card">
          <h2 >SeniorSmart</h2>
          <p>Desenvolvimento de um aplicativo com uma inteligência artificial destinado a auxiliar a população idosa com dificuldades no uso da tecnologia.</p>
          <div class="card-info">
            <p class="GitHub">Ver Mais</p>
            <p><b>Plusoft</b></p>
          </div>
        </div>
      </a>
    </div>

    <a class="GitHub" href="https://github.com/gersonreismelo?tab=repositories" target="_blank"><h1>Vejo outros projetos no meu GitHub</h1></a>

    <div class="projetos">
      <!-- O *ngFor itera sobre a lista de projetos (repos) e gera um card para cada um -->
      <div class="card" *ngFor="let repo of repos">
        <a href="{{ repo.html_url }}" target="_blank">
          <h2>{{ repo.name }}</h2>
          <p>{{ repo.description }}</p>
          <div class="card-info">
            <p class="GitHub">Ver no GitHub</p>
            <p><b>{{ repo.language }}</b></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
