<section class="container excluir-pensamento ff-inter">
  <div class="modal text-white">
    <h1>Sua mensagem foi enviada com sucesso.</h1>
    <p>Obrigado pelo seu contato! <br> Respondei em breve.</p>
    <div class="acoes">
      <!-- Div com as ações, contendo um botão para fechar o modal -->
      <button class="botao botao-excluir" routerLink="/contact">Fechar</button>
    </div>
  </div>
<!-- Div de overlay (sobreposição) para escurecer o fundo ao exibir o modal -->
  <div class="overlay"></div>
</section>
