<footer class="container">
  <!-- Informações de direitos autorais -->
  <small class="TextoCopyright ff-inter">
    &copy; Copyright 2024. All Right Reserved by Gerson Reis Melo
  </small>

  <!-- Links de redes sociais -->
  <div class="Contato">
    <a href="https://github.com/gersonreismelo" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a href="https://www.linkedin.com/in/gersonreismelo/" target="_blank">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
  </div>
</footer>
