<section class="container ff-inter">
  <header class="header">
    <h1 data-text="Candidate Hiring System" class="title" style="opacity: 1; transform: none;">
      Candidate Hiring System
    </h1>
  </header>
  <div class="mural">
    <div class="img-site">
      <img src="../../../../assets/img/site.png" alt="Site do projeto">
      <img src="../../../../assets/img/chatbot.png" alt="Chatbot do projeto">
    </div>
    <p><strong>Descrição:</strong> Este projeto foi dedicado ao desenvolvimento de um chatbot voltado para auxiliar o setor de Recursos Humanos (RH) na seleção de candidatos para vagas de emprego. A principal função do chatbot era realizar uma pré-entrevista com os candidatos, classificando e ranqueando os perfis mais adequados para a vaga.</p>

    <p><strong>Resultados:</strong> O chatbot implementado atendeu integralmente às necessidades do setor de RH, fornecendo uma solução eficiente para a triagem inicial de candidatos. Este projeto recebeu reconhecimento significativo, sendo selecionado e prestigiado pela IBM como um dos Top 10 projetos inovadores. Além disso, foi apresentado no prestigioso evento NEXT, demonstrando seu impacto e relevância.</p>

    <p><strong>Tecnologias Utilizadas:</strong></p>
    <p>
      Utilizamos metodologias de desenvolvimento como Diagramas e Product Backlog para planejamento e estruturação do projeto.
    </p>
    <p>
      Na implementação, foram empregadas tecnologias como Java para a lógica de backend, REST para comunicação entre sistemas, React para a interface de usuário e Oracle para armazenamento de dados.
    </p>
    <p>
      Contribuí como um dos desenvolvedores principais no projeto, participando ativamente de todas as fases do ciclo de desenvolvimento.
    </p>


    <p>Este projeto foi uma experiência enriquecedora e demonstrou a capacidade de criar soluções inovadoras que se destacam no mercado, promovendo eficiência e eficácia nos processos de Recrutamento e Seleção.</p>
    <a href="https://github.com/gersonreismelo/Challenge-React" class="GitHub" target="_blank">Veja o Front-End no GitHub</a>
    <div class="card-info">
      <a href="https://github.com/gersonreismelo/Challenge-Java" class="GitHub" target="_blank">Veja o Back-End no GitHub</a>
      <p><b>FIAP - IBM 2022</b></p>
    </div>
  </div>
</section>
