<section class="container ff-inter">
  <header class="header">
    <h1 data-text="SeniorSmart" class="title" style="opacity: 1; transform: none;">
      SeniorSmart
    </h1>
  </header>
  <div class="mural">
    <div class="img-site">
      <img src="../../../../assets/img/seniorsmart.png" alt="Funcionamento seniorsmart">
      <img src="../../../../assets/img/seniorsmart-diagrama.png" alt="Funcionamento seniorsmart">
    </div>

    <p><strong>Descrição:</strong> Este projeto teve como foco o desenvolvimento de um aplicativo destinado a auxiliar a população idosa com dificuldades no uso da tecnologia. O objetivo era criar um assistente virtual com inteligência artificial (IA) avançada para orientar passo a passo sobre o uso de tecnologias cotidianas, como configuração de celulares, realização de compras online, entre outros.</p>

    <p><strong>Resultados:</strong> O aplicativo desenvolvido foi concebido para ser altamente intuitivo e fácil de usar, oferecendo orientações passo a passo para usuários idosos enfrentando desafios tecnológicos. A integração de um assistente virtual baseado em IA permitiu oferecer suporte personalizado para dúvidas e orientações diversas. Este projeto recebeu destaque, sendo selecionado e prestigiado pela Plusoft no Top 12, além de ter sido apresentado no evento Next.</p>

    <p><strong>Tecnologias Utilizadas:</strong></p>

    <p>Utilizamos metodologias de desenvolvimento, como Diagramas e Product Backlog, para o planejamento e estruturação do projeto.</p>
    <p>Na implementação, foram empregadas tecnologias como Java, Spring para o backend, Next.js e React Native para interfaces web e mobile, Oracle para armazenamento de dados e integração com a API do ChatGPT para aprimorar a interação com o assistente virtual. Aplicamos também a esteira devops na Azure.</p>
    <p>Contribuí como um dos desenvolvedores principais no projeto, participando ativamente de todas as fases do ciclo de desenvolvimento.</p>


    <p>Este projeto representa uma iniciativa inovadora que busca reduzir a lacuna tecnológica entre as gerações e fornecer suporte valioso para a população idosa, facilitando a adoção e uso de tecnologias modernas.</p>

    <div class="video">
      <iframe width="540" height="315" src="https://www.youtube.com/embed/bTIsSFbi-U0?si=3r0ylK4JEvJXy5Zu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <a href="https://github.com/gersonreismelo/SeniorSmart-Application" class="GitHub" target="_blank">Veja o Front-End no GitHub</a>
    <div class="card-info">
      <a href="https://github.com/gersonreismelo/SeniorSmart-API" class="GitHub" target="_blank">Veja o Back-End no GitHub</a>
      <p><b>FIAP - Plusoft 2023</b></p>
    </div>
  </div>
</section>
