<section class="container ff-inter">
  <header class="header">
    <h1 data-text="Olá, eu sou Gerson dos Reis de Melo" class="title" style="opacity: 1; transform: none;">
      Olá, eu sou Gerson dos Reis de Melo
    </h1>
  </header>
  <div class="mural">
    <p>Seu amigo Full Stack da vizinhança, versátil na engenharia de software e com uma experiência abrangente em todos os aspectos cruciais para o desenvolvimento tecnológico. Passo meu tempo - inclusive muitas noites - pintando o cenário da Internet com <a class="text-link" routerLink="/project"><b>PROJETOS</b></a> e linhas de código, transformando zeros e uns em experiências imersivas e interativas.</p>
    <p>Sou um entusiasta genuíno da tecnologia, sempre sedento por conhecimento e constantemente me aprimorando. Tenho experiência tanto no Front-end quanto no Back-end, além de conhecimentos sólidos em bancos de dados, DevOps, Cloud Computing, Inteligência Artificial e Quality Assurance. Estou sempre aberto para o novo e pronto para enfrentar desafios desse universo em constante evolução. Você pode facilmente <a class="text-link" routerLink="/contact"><b>ENTRAR EM CONTATO COMIGO</b></a>.</p>
  </div>
  <footer>
    <a class="text-link" routerLink="/about">
      <p>Veja mais sobre mim
        <mat-icon svgIcon="about-me" class="icon-spacing"></mat-icon>
      </p>
    </a>
  </footer>
</section>
